:css
  html {
    text-align: center;
    font-family: Verdana, Times New Roman;
    height: 100%;
    width: 100%;
    min-width: 1024px;	
    background: linear-gradient(to bottom right, yellow, red, green, blue);
    background size: cover;
    color: white;
  }
  
  #posts {
    margin: 0px auto;
    width: 800px;
    border: 2px solid rgb(0, 255, 255);
  }
  
  #posts_content_head {
    font-weight: bold;
    color: rgb(255, 255, 0);
    font-size: 24px;
  }
  
  #posts_content_body {
    color: white;
    font-size: 20px;
  }
  
  .ret_post {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 3px 5px;
    margin: 5px;
    border: 1px solid black;
  }
  
  .ret_post:hover {
    background-color: rgb(115, 186, 230);
    color: white;
  }
  
  .ret_post:active {
    background-color: rgb(0, 0, 250);
    color: white;
  }

  #bloack{
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0px 200px;
    height: 450px;
  }

%div#bloack
  %br
  %h1= notice || 'Your post was successfully created'
  %h2 Take a look at your post before going back

  %br
  %div#posts
    %p#posts_content_head= @freedom.name
    %p#posts_content_body= @freedom.message

  %br
  = link_to 'RETURN', freedoms_path, class: :ret_post
